@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVF.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
}
@font-face {
  font-family: "Roobert";
  src: url("../fonts/RoobertVFItalics.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: italic;
}

:root {
  /* Colors */
  --color-primary: oklch(0.65 0.16 234);
  --color-secondary: oklch(0.60 0.16 345);
  --color-dark: oklch(0.10 0.05 345);
  --color-light: oklch(0.97 0.05 244);
  --color-button-bg: var(--color-light);
  --color-button-text: var(--color-secondary);
  --color-links: var(--color-dark);

  /* Fonts */
  --font-family-display: Roobert;
  --font-family-ui: Roobert, system-ui, sans-serif;
  --font-weight-bold: 550;
  --font-weight-bolder: 650;
}
.navbar-logo {
  filter:  drop-shadow(0 0 5px oklch(0.60 0.16 345));

  img {
    filter: brightness(0) invert();
  }
}

.width-box.box-fill {
  padding: 20px;
}
.block-separator.is-default {
  border-color: white;
  opacity: .1;
}

.type-title,
.type-subtitle {
  /* font-family: condensed; */
}

#intro .type-txt {
  text-align: center;
  font-size: var(--font-4-size);
  letter-spacing: var(--font-4-spacing);
  font-weight: var(--font-weight-bold);
  color: var(--color-light);
  padding-inline: 1rem;
}
#about {
  color: var(--color-light);
  .carousel {
    mask-image: radial-gradient(closest-side, #000 50%, #0000);
    overflow: hidden;
  }
  .is-current {
    transition: transform 8s ease-in-out;
    transform: scale(1.2);
  }
  .is-previous {
    transition: transform 8s ease-in-out;
  }
}

/* Menú */
body:not(.is-sticky) .navbar-flexible {
  background: linear-gradient(to bottom, #0006, transparent) no-repeat;
}

#patrocinar .type-title,
#about .type-title,
#partners .type-title,
#faq .type-title,
#mecenas .type-title,
#contacto .type-title {
  color: transparent;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 100px;
  max-width: 100%;
  transform: rotate(-3deg) translateX(-10px);
}

#patrocinar .type-title {
  aspect-ratio: 774 / 185;
  background-image: url(/files/rotulos/como_patrocinar.png);
}
#contacto .type-title {
  aspect-ratio: 479 / 174;
  background-image: url(/files/rotulos/contacto.png);
}
#faq .type-title {
  aspect-ratio: 407 / 235;
  background-image: url(/files/rotulos/faq.png);
}
#mecenas .type-title {
  aspect-ratio: 475 / 187;
  background-image: url(/files/rotulos/mecenas.png);
}
#partners .type-title {
  aspect-ratio: 414 / 178;
  background-image: url(/files/rotulos/partners.png);
}
#about .type-title {
  aspect-ratio: 1060 / 214;
  background-image: url(/files/rotulos/que_vas_a_encontrar.png);
}

#video {
  background: none;

  top-vimeo {
    max-width: min(800px, 90vw);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -1em 1em var(--color-primary);
  }
}